![alt text](https://apac.ee.kntu.ac.ir/wp-content/uploads/2024/09/apacgroup-logo.svg)

# Level Test
### Note: people who can answer this test **do not** need to attend first 50 hour of Python course

The questions will be given and you sould code in the box below

# Q1 :
calaulate the mod of three digit prime number(choose on your own) to 2 and proof that it is True

In [1]:
import math
primeNumber = 103
baseNumber = 2
Res1 = math.floor(primeNumber/baseNumber)
Res2 = Res1*baseNumber
mod = primeNumber-Res2
print(mod)

1

# Q2:
code to get two string first print the type of input and then put them together(give it your name and last name)

In [4]:
name = input("Enter your name: ")
print(type(name))
lastName = input("Enter your last name: ")
print(type(lastName))
print(name+' '+lastName)

Enter your name: Mahdi
<class 'str'>
Enter your last name: Zolfaghari
<class 'str'>
Mahdi Zolfaghari

# Q3:
create a list with 5 member and change the the three one to Iran

In [5]:
countryList = ['Sweden','Italy','New Zealand','Germany','Denmark']
print(countryList)
for i in range(len(countryList)):
    for j in range(3):
        countryList[j] = 'Iran'
modifiedList = countryList
print(modifiedList)

['Sweden', 'Italy', 'New Zealand', 'Germany', 'Denmark']
['Iran', 'Iran', 'Iran', 'Germany', 'Denmark']

# Q4:
create a dictionary with 5 member assign a b c d e to 1 to 5 and print Dictionary items

In [10]:
myDic = {'a':1,'b':2,'c':3,'d':4,'e':5}
for name,value in myDic.items():
  print("name is: ",name)
  print("value is: ",value)

name is:  a
value is:  1
name is:  b
value is:  2
name is:  c
value is:  3
name is:  d
value is:  4
name is:  e
value is:  5

# Q5:
Open an existing file in your computer and print last line(you can make a txt file then do it)

In [ ]:
myFile = open(r'C:\Users\Zolfaghari.m\Desktop\myTest.txt')
allLines = myFile.readlines()
print(allLines[1])

# Q6:
Check 255 is greater than 188 and 255 is smaller than 189 in one line

In [32]:
Result = (255>188)&(255<189)
print((255>188)&(255<189))

False

# Q7:
assign a your name to variable name person check it among your friends name if its true print 'HOORA'

In [33]:
namesList = ['Ali','Hadi','Mahdi']
for name in namesList:
    if name == 'Mahdi':
        print('Hoora!')

Hoora!

# Q8:
create a list 1 to 10 then check for even numbers then print all using for loops

In [34]:
numbersList = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = []
for number in numbersList:
    if number%2 == 0:
        evenNumbers.append(number)
print(evenNumbers)

[2, 4, 6, 8, 10]

# Q9:
consider x is 12 while x is between 10 to 15 print good else continue

In [35]:
x = 12
while (x>10) & (x<15):
    print('good')
    x= x+1
    print(x)

good
13
good
14
good
15

# Q10:
make a list from 0 to 10000 with step of 100 using "range" shuffle this list and pick index 10

In [46]:
import random
longList = [i for i in range(0,10000,100)]
print(longList)
random.shuffle(longList)
print(longList)
print(longList[10])

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300, 3400, 3500, 3600, 3700, 3800, 3900, 4000, 4100, 4200, 4300, 4400, 4500, 4600, 4700, 4800, 4900, 5000, 5100, 5200, 5300, 5400, 5500, 5600, 5700, 5800, 5900, 6000, 6100, 6200, 6300, 6400, 6500, 6600, 6700, 6800, 6900, 7000, 7100, 7200, 7300, 7400, 7500, 7600, 7700, 7800, 7900, 8000, 8100, 8200, 8300, 8400, 8500, 8600, 8700, 8800, 8900, 9000, 9100, 9200, 9300, 9400, 9500, 9600, 9700, 9800, 9900]
[4000, 9400, 0, 2100, 500, 1100, 3200, 9200, 4400, 9500, 2200, 2900, 200, 6000, 6200, 8600, 1800, 4500, 1000, 5500, 800, 2600, 1900, 2800, 4800, 4900, 7400, 8700, 3800, 100, 8300, 9300, 8000, 8800, 4100, 6600, 9800, 7100, 3100, 8400, 7900, 3400, 9000, 4700, 7300, 2700, 5100, 8100, 5700, 2400, 1400, 8900, 400, 2500, 4600, 1500, 1300, 3900, 5800, 6400, 1600, 3600, 7500, 5200, 900, 2300, 7200, 9900, 5600, 7600, 9100, 6100, 5000, 6700, 8500, 3500, 6500, 7000, 300, 4200, 600, 4300, 9600, 5300, 5400, 7800, 3000, 7700, 6800, 700, 9700, 6900, 3300, 2000, 1200, 1700, 6300, 3700, 8200, 5900]
2200

# Q11:
Consider list of 1 to 5 append 6 in it and count even number in it using a function

In [48]:
List5 = [1,2,3,4,5]
List5.append(6)
print(List5)
def evenNumFinder(List):
    evenNumbers = []
    for number in List:
        if number % 2 == 0:
            evenNumbers.append(number)
print(evenNumbers)

[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8, 10]

# Q12:
write a function that get string and uppercase the first letter if it's capital print it's True

In [54]:
def stringTaker(givenstring):
    givenstring_cap=givenstring.capitalize()
    print(givenstring_cap)
    if givenstring.isupper():
        print('True!')

stringTaker('MAHDI')

Mahdi
True!